/* start variable */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 50%);
    --section-padding: 100px;
}
/* end variable */
/* start global roles */
*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
.countainer{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px){
    .countainer{
        width: 750px;
    }
}
@media (min-width:992px){
    .countainer{
        width: 970px;
    }
}
@media (min-width:1200px){
    .countainer{
        width: 1170px;
    }
}
/* end global roles */
/* start component */
.special-heading{
    text-align: center;
}
.special-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.special-heading h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.special-heading h2::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: #fff;
}
.special-heading p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* end component */
/* start header */
header{
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .countainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .countainer::after{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    width: calc(100% - 25px);
    bottom:0;
}
header a img{
    width: 50%;
}
header nav{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
nav .toggle-menu{
    color: #fff;
    font-size: 22px;
}
@media (min-width: 768px){
    nav .toggle-menu{
        display: none;
    }
}
nav ul{
    display: flex;
}
@media (max-width: 767px){
    nav ul{
        display: none;
    }
    nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgp(0 0 0 /50%);
    }
    nav .toggle-menu ul li a{
        padding: 15px !important;
    }
}

nav ul li a{
    color: #fff;
    display: block;
    font-size: 14px;
    transition: 0.3s;
    text-decoration: none;
    padding: 40px 10px;
    position: relative;
    z-index: 2;
}
nav ul li a.active,
nav ul li a:hover{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .form{
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid #fff;
}
header .form i{
    color: #fff;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
/* end header */
/* start landing */
.landing{
    min-height: 100vh;
    background-image: url('../image/land.jpg');
    background-color: #1f2021;
    background-size: cover;
}
.landing .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 20%);
}
.landing .text{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px ;
    background-color: var(--transparent-color);
    color: #fff;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content{
    max-width: 500px;
}
@media (max-width:767px){
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
}
.landing .text .content h2{
    font-size: 32px;
    font-weight: normal;
    line-height: 1.6;
    margin-bottom: 20px;
}
.landing .text .content p{
    font-size: 14px;
    line-height: 2;
}
.landing .change-background{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}
@media (max-width:767px){
    .landing .change-background{
        display: none;
    }
}
.landing .fa-angle-left{
    left: 30px;
}
.landing .fa-angle-right{
    right: 30px;
}
.landing .bullets{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
}
.landing .bullets li{
    width: 15px;
    height: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 1px;
}
.landing .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}
/* end landing */
/* start services */
.services{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px){
    .services .services-countainer{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
.services .srv-box{
    display: flex;
}
.services .srv-box i{
    margin-right: 50px;
}
@media (max-width: 767px){
    .services .srv-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i{
        margin: 0 0 30px;
    }
}
.services .srv-box h3{
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .srv-box p{
    line-height: 2;
    color: #777;
}
/* end services */
/* start design */
.design{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    position: relative;
    background-image: url('../image/feature1.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.design::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);
}
.design .image,
.design .text{
    position: relative;
    z-index: 2;
    flex: 1;
}
.design .image{
    text-align: center;
}
@media (max-width: 767px){
    .design .image{
        display: none;
    }
}
.design .image img{
    position: relative;
    bottom: -150px;
}
.design .text{
    color: #fff;
    padding: 50px;
    background-color: var(--transparent-color);
}
.design .text h2{
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.design .text ul li{
    padding: 15px 0;
}
.design .text ul li::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
/* end design */
/* start Portfolio */
.portfolio{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .shuffle{
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li{
    padding: 10px;
}
.portfolio .shuffle li.active{
    background-color: var(--main-color);
    color: #fff;
}
.portfolio .image-countainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .image-countainer .box{
    overflow: hidden;
    position: relative;
}
.portfolio .image-countainer .box:hover .caption{
    bottom: 0;
}
.portfolio .image-countainer .box:hover img{
    transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px){
    .portfolio .image-countainer .box{
        flex-basis: 50%;
    }
}
@media (min-width: 1199px){
    .portfolio .image-countainer .box{
        flex-basis: 25%;
    }
}
.portfolio .image-countainer .box img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .image-countainer .box .caption{
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}
.portfolio .image-countainer .box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .image-countainer .box .caption p{
    color: var(--main-color);
}
.portfolio .more{
    background-color: var(--main-color);
    color: #fff;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}
/* end Portfolio */
/* start video */
.vedio{
    position: relative;
}
.vedio::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.vedio video{
    width: 100%;
}
.vedio .text{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: #fff;
    text-align: center;
}
.vedio .text h2{
    margin: 0 0 30px;
    font-weight: normal;
    text-transform: uppercase;
}
.vedio .text p{
    margin-bottom: 30px;
}
.vedio .text button{
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: none;
    text-transform: uppercase;
}
/* end video */
/* start about */
.about{
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}
.about img{
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}
@media (max-width: 767px){
    .about img{
        bottom: -60px;
        margin-top: -60px;
    }
}
/* end about */
/* start stats */
.stats{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url(../image/stats.jpg);
    background-size: cover;
    position: relative;
}
.stats::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.stats .countainer{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.stats .countainer .box{
    color: #fff;
    padding: 50px;
    background-color: var(--transparent-color);
}
@media (max-width: 767px){
    .stats .countainer .box{
        flex-basis: 100%;
    }
}
@media (min-width: 768px){
    .stats .countainer .box{
        flex-basis: 50%;
    }
}
@media (min-width: 992px){
    .stats .countainer .box{
        flex-basis: 25%;
    }
}
.stats .countainer .box i{
    width: 40px;
    height: 40px;
    display: flex;
    background-color: #000;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.stats .countainer .box .number{
    font-size: 45px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stats .countainer .box p{
    font-size: 14px;
}
/* end stats */
/* start Skills */
.our-skills{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .countainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px){
    .our-skills .countainer > div{
        flex-basis: 45%;
    }
}
.our-skills .countainer > div > h3{
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .countainer > div > p{
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .testimonial .content{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.our-skills .testimonial .content img {
    width: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
@media (max-width: 767px) {
    .our-skills .testimonial .content{
        flex-direction: column;
        text-align: center;
    }
    .our-skills .testimonial .content img {
        margin: 0 auto 20px;
    }
}
.our-skills .testimonial .text{
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}
.our-skills .testimonial .text p{
    color: #777;
    text-align: right;
    font-size: 14px;
    margin-bottom: 10px;
}
.our-skills .testimonial  .bullets{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.our-skills .testimonial  .bullets li{
    width: 14px;
    height: 14px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin-right: 10px;
}
.our-skills .testimonial  .bullets li.active{
    background-color: var(--main-color);
    border-color: var(--main-color);
}    
.our-skills .skills .prog-hilder{
    margin-bottom: 40px;
}
.our-skills .skills .prog-hilder h4{
    margin-bottom:  15px;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .skills .prog-hilder .prog{
    background-color: #dedadc;
    height: 30px;
}
.our-skills .skills .prog-hilder .prog span{
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.our-skills .skills .prog-hilder .prog span::before{
    content: attr(data-progress);
    position: absolute;
    background-color: #000;
    color: #fff;
    top: -40px;
    right: -16px;
    padding: 4px 0;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}
.our-skills .skills .prog-hilder .prog span::after{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: #000 transparent transparent transparent;
    right: -3px;
    top: -14px;
}
/* end Skills */
/* start Quote */
.quote{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../image/feature.jpg);
    background-size: cover;
    position: relative;
    text-align: center;
    color: #fff;
}
.quote::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.quote .countainer{
    position: relative;
}
.quote q{
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}
/* end Quote */
/* start pricing */
.pricing{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .plans .plan{
    background-color: #f2f2f2;
    text-align: center;
}
.pricing .plans .plan .head{
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan h3{
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.pricing .plans .plan span{
    font-size: 60px;
    font-weight: bold;
}
.pricing .plans .plan span::before{
    content: '$';
    font-size: 20px;
    position: relative;
    top: -40px;
    margin-right: 15px;
    font-weight: normal;
}
.pricing .plans .plan span::after{
    content: '/Mo';
    font-size: 20px;
    position: relative;
    right: -10px;
}
.pricing .plans .plan ul{
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li{
    padding: 20px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after{
    content: '';
    width: 120px;
    height: 1px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
    bottom: 0;
}
.pricing .plans .plan .foot a{
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
}
.pricing .contact-text{
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}
.pricing .contact-link{
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
}
/* end pricing */
/* start subscribe */
.subscribe{
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../image/feature.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
}
.subscribe::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 70%);
}
.subscribe .countainer{
    position: relative;
    display: flex;
    align-items: center;
}
@media (max-width: 991px){
    .subscribe .countainer{
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.subscribe form input[type="email"]{
    border: 1px solid #fff;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    border-right: none;
}
.subscribe form input[type="submit"]{
    width: 130px;
    background-color: var(--main-color);
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    border-left: none;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus{
    outline: none;
}
.subscribe form ::placeholder{
    color: #fff;
}
.subscribe p{
    margin-left: 50px;
}
@media (max-width: 991px){
    .subscribe p{
        margin: 30px 0 0;
    }
}
/* end subscribe */
/* start contact  */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content{
    display: flex;
    justify-content: space-between;
}
@media (max-width: 767px){
    .contact .content{
        flex-direction: column;
    }
}
.contact .content form{
    flex-basis: 70%;
}
.contact .content form .main-input{
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}
.contact .content form .main-input:focus{
    outline: none;
}
.contact .content form textarea.main-input{
    height: 200px;
}
.contact .content form input[type='submit']{
    background-color: var(--main-color);
    color: #fff;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}
.contact .content .info{
    flex-basis: 25%;
}
@media (max-width: 767px){
    .contact .content .info{
        order: -1;
        text-align: center;
    }
}
.contact .content .info h4{
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}
.contact .content .info .phone{
    display: block;
    color: #777;
    margin-bottom: 10px;
}
.contact .content .info h4:nth-of-type(2){
    margin-top: 85px;
}
@media (max-width: 767px){
    .contact .content .info h4:nth-of-type(2){
        margin-top: 30px;
    }
}
.contact .content .info address{
    color: #777;
    line-height: 2;
}
@media (max-width: 767px){
    .contact .content .info address{
        margin-bottom: 40px;
    }
}
/* end contact  */
/* start footer */
.footer{
    padding-top: calc(var(--section-padding) /2);
    padding-bottom: calc(var(--section-padding) /2);
    background-image: url('../image/feature.jpg');
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
}
.footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
}
.footer .countainer{
    position: relative;
}
.footer img{
    margin-bottom: 20px;
    width: 100px;
}
.footer p:not(.copyright){
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid #fff;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}
.footer .social-icons i{
    padding: 10px 15px;
}
.footer .copyright{
    margin-top: 60px;
}
.footer .copyright span{
    font-weight: bold;
    color: var(--main-color);
}
/* end footer */